
.array-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;    
    height: 500px;
    width: 70%;
    margin: 0 auto;
    /* border: 2px blue solid; */
}
